{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="{% static 'ms/images/icon.png' %}">

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'ms/css/main.css' %}">

        {% if title %}
            <title>{{ title }}</title>
        {% else %}
            <title>Metaschedule</title>
        {% endif %}
    </head>
    <body>
        <header class="site-header">
            <!-- <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
                <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">  
                            
                        </li>
                    </ul>
                </div>
            </nav> -->
            <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
                <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <img class="mr-2" src="{% static 'ms/images/icon_white.png' %}" width="50" height="50">
                        </li>
                    </ul>
                </div>
                <div class="mx-auto order-0">
                    <span class="navbar-brand mx-auto" style="font-size: 1.6rem;">Metaschedule</span>
                </div>
                <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a href="https://github.com/marcos-acosta/metaschedule"><img src="{% static 'ms/images/github-logo-white.png' %}" width="63" height="40"></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <br>
        <main role="main" class="div mainDiv">
            {% block content %}{% endblock %}
        </main>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <!-- <script src="{% static 'ms/js/popper.js' %}"></script> -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <!-- Our static js file -->
        <script src="{% static 'ms/js/metaschedule.js' %}"></script>
    </body>
</html>