{% extends 'ms/base.html' %}
{% block content %}
<div class="card" style="width: 68rem;">
    <div class="card-body">
        <form class="form-group" method="POST">
            <div class="container">
                <div class="row">
                    <div class="col col-lg-10">
                        <label for="courseSearch">Search for a course:</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-lg-10">
                        <input type="text" class="form-control" id="courseSearch" placeholder="Course name or code">
                    </div>
                    <div class="col">
                        <button type="submit" class="btn btn-outline-primary btn-block">Search</button>
                    </div>
                </div>
            </div>
        </form>

        <form>
            <input type="text" size="30" onkeyup="showResult(this.value)">
            <div id="livesearch"></div>
        </form>

    </div>
</div>
{% endblock %}