{% extends 'ms/base.html' %}
{% block content %}
<div class="btn btn-primary float-right" id="refresh">
    Refresh
</div>
<div class="container text-center centered" id="toggleGroup" style="width:100vmax;">  
    <div class="btn-group btn-group-toggle mb-4" data-toggle="buttons">
        <label class="btn btn-outline-primary active">
            <input type="radio" id="courseSearchButton" autocomplete="off" checked> Course search
        </label>
        <label class="btn btn-outline-primary">
            <input type="radio" id="schedulesButton" autocomplete="off"> Schedules
        </label>
    </div>
</div>
<div class="div centeredDiv" id="leftSide">
    <div class="row" style="height: 360px;">
        <div class="col-sm">
            <div id="searchContainer">
                <div class="card" style="width: 50rem;">
                    <div class="card-header">
                        Search for a course:
                        <div class="spinner-border text-primary float-right" style="width: 23px; height: 23px" role="status" id="loadingSpinner"></div>
                    </div>
                    <div class="card-body">
                        <form class="form-group">
                            <div class="container">
                                <input type="text" class="searchBar" id="courseSearch" placeholder="Course name or code" disabled> 
                            </div>
                        </form>
                    </div>
                </div>
                <br>
                <!-- <button class="btn btn-outline-secondary" id="testButton">Test</button> -->
                <div id="resultsContainer">
                    <div id="searchResults">
                    </div>
                </div>
            </div>   
            <div id="scheduleContainer" style="display: none;">
                <div class="card" style="height: 350px; width: 50rem;">
                    <div class="card-header">
                        Filters
                        <button id="filterInfoButton" class="btn btn-outline-secondary float-right mr-1 p-0" style="height: 25px; width: 25px;">?</button>
                    </div>
                    <div class="scrollDiv" style="height: 300px;" id="filterContainer">
                    </div>
                </div>   
            </div>
        </div>
        <div class="col-sm rightHandDiv" id="rightSide">
            <div class="row">
                <div class="card mb-3" id ="courseInfoCard" style="height: 350px; width: 490px;">
                    <div class="card-header">
                        Course info
                    </div>
                    <div class="scrollDiv" style="height: 300px;" id="infoContainer">
                        <div id="courseInfo">
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="card" id="mainSelectedCoursesCard" style="min-height: 500px; width: 100%;">
                    <div class="card-header">
                        Your courses
                    </div>
                    <div class="card-body">
                        <div class="card-text" id="selectedContainer">
                            <div id="courseList">
    
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <span class="text-muted">Total credits: <span id="creditCount">0.0</span> credits</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card mt-2" id="actualScheduleContainer" style="display: none;">
        <div class="card-header">
            Schedules
        </div>
        <div class="card-body">
            Stuff goes here
        </div>
    </div>
</div>

{% endblock %}