body {
    background: #ffffff;
    color: #333333;
    margin-top: 5rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
}
  
h1, h2, h3, h4, h5, h6 {
    color: #444444;
}
  
ul {
    margin: 0;
}
  
.bg-steel {
    background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
    color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
    font-weight: 500;
}

.content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
}

.article-title {
    color: #444444;
}

a.article-title:hover {
    color: #428bca;
    text-decoration: none;
}

.article-content {
    white-space: pre-line;
}

.article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
}

.article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
    color: #333;
    text-decoration: none;
}

.article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
}

.account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
}

.account-heading {
    font-size: 2.5rem;
}

input.searchBar {
    background-image: url('searchIcon.png'); /* Add a search icon to input */
    background-position: 10px 13px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    background-size: 20px 20px;
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid rgb(76, 104, 226); /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
  }

.mainDiv {
    margin-left: 0%;
    margin-right: 0%;
    width: 100%;
  }

.centeredDiv {
    margin-left: 3%;
    margin-right: 3%;
    width: 94%;
}

.rightHandDiv {
    min-height: 500px;
}

.blueCard {
    background-color: rgb(65, 120, 238);
    color: white;
}

.redCard {
    background-color: rgb(221, 143, 143);
    color: white;
}

.greenCard {
    background-color: rgb(150, 221, 153);
    color: white;  
}

.yellowCard {
    background-color: rgb(224, 205, 28);
    color: white;  
}

.orangeCard {
    background-color: rgb(231, 160, 28);
    color: white;  
}

.purpleCard {
    background-color: rgb(151, 62, 235);
    color: white;  
}

.mintCard {
    background-color: rgb(93, 226, 182);
    color: white;  
}

.pinkCard {
    background-color: rgb(209, 131, 233);
    color: white;  
}

.aquaCard {
    background-color: rgb(103, 214, 218);
    color: white;  
}

.cobaltCard {
    background-color: rgb(94, 114, 179);
    color: white;  
}

.grayCard {
    background-color: #bbbbbb;
    color: rgb(51, 51, 51);
}

.scrollDiv {
    overflow-y: scroll;
    padding: 10px;
    border-style: dotted;
    border-color: rgb(219, 219, 219);
  }

.specialCircle {
    height: 24px;
    width: 24px;
    background-color: #555;
    border-radius: 25%;
    border: 2px solid darkgray;
}