.courseCard {
  margin: 5px;
  margin-bottom: 7px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  display: grid;
  grid-template-columns: 130px 1fr 40px;
  grid-template-rows: 30px;
}

.courseCard.expanded {
  grid-template-rows: 30px 1fr;
}

.addButton {
  grid-row: 1;
  grid-column: 3;
  background-color: rgba(0, 0, 0, 0.082);
  font-size: 20px;
  padding-top: 2px;
  text-align: center;
  box-sizing: border-box;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  transition-property: background-color;
  transition-duration: 1s;
}

.courseCard.expanded > .addButton {
  border-bottom-right-radius: 0px;
}

.addButton:hover {
  background-color: rgba(0, 0, 0, 0.151);
}

.courseGroup {
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.082);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 5px;
  padding-left: 10px;
  grid-row: 1;
  grid-column: 1;
}

.courseCard.expanded > .courseGroup {
  border-bottom-left-radius: 0px;
}

.courseTitle {
  padding: 5px;
  padding-left: 10px;
  grid-row: 1;
  grid-column: 2;
}

.courseDetails {
  grid-row: 2;
  grid-column: 1 / 4;
  padding: 10px;
  background-color: rgba(255, 255, 255);
  border-bottom: 1px rgb(228, 228, 228) solid;
  color: black;
  transition-property: height, padding;
  transition-duration: 0.5s;
  height: 300px;
  overflow-y: scroll;
  cursor: initial;
}

.courseDetails.hidden {
  height: 0;
  padding: 0px;
  border: none;
}

.creditText {
  font-weight: 400;
  color: gray;
}

.descriptionContainer {
  margin-bottom: 5px;
}

.sectionContainer {
  margin-bottom: 5px;
}

.courseDetails::-webkit-scrollbar {
  width: 10px;
}

.courseDetails::-webkit-scrollbar-track {
  background: transparent;
}

.courseDetails::-webkit-scrollbar-thumb {
  background: #2b2b2b57;
}

.courseDetails::-webkit-scrollbar-thumb:hover {
  background: #2b2b2b6e;
}