.sectionCard {
  border: 1px solid rgb(194, 194, 194);
  border-radius: 5px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  display: inline-block;
  margin: 5px;
}

.profContainer {
  width: 100%;
  margin-top: 5px;
}

.statusFlagContainer {
  margin-left: 10px
}

.sectionTitleContainer {
  display: inline-block;
}