body {
  margin: 0;
  padding-top: 60px;
  font-family: "Source Code Pro", sans-serif;
}

button {
  font-family: "Source Code Pro", sans-serif;
  border: none;
  cursor: pointer;
}

input {
  font-family: "Source Code Pro", sans-serif;
}

.metaButton {
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 5px;
}

.viewSwitcher {
  margin-top: 20px;
  width: 100%;
  text-align: center;
}

.blueButton {
  background-color: #007bff;
  color: white;
  transition-property: background-color;
  transition-duration: 0.4s;
}

.blueButton:hover {
  background-color: #0173ec;
}

.darkGrayButton {
  background-color: #6c757d;
  color: white;
  transition-property: background-color;
  transition-duration: 0.4s;
}

.darkGrayButton:hover {
  background-color: #636c74;
}

.lightGrayButton {
  background-color: #e2e8ee;
  transition-property: background-color;
  transition-duration: 0.4s;
}

.lightGrayButton:hover {
  background-color: #d9dfe4;
}

.course-group-blue {
  background-color: #c2e4f0;
}

.course-group-purple {
  background-color: #dbc9db;
}

.course-group-green {
  background-color: #cae4ca;
}

.course-group-red {
  background-color: #ffb6ae;
}

.course-group-yellow {
  background-color: #ffffb5;
}

.course-group-aqua {
  background-color: #bdece8;
}