body {
  margin: 0;
  padding-top: 60px;
  font-family: "Source Code Pro", sans-serif;
}

button {
  font-family: "Source Code Pro", sans-serif;
  border: none;
  cursor: pointer;
}

.metaButton {
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 5px;
}

.viewSwitcher {
  margin-top: 20px;
  width: 100%;
  text-align: center;
}